$color-app-background-default: #1E1E1E;

$color-primary-red: #FA7272;
$color-primary-black: #2D2D2D;
$color-primary-white: #FFFFFF;
$color-primary-border: #4D4D4D;

$color-secondary-background: #262626;